# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
functions/node_modules/
functions/lib

.env

.idea/

node_modules

**/firebase-service-account.json

**/firebase-debug.log